.NavbarItems{
    background: linear-gradient(90deg, rgb(110, 94, 254) 0%, rgba(73, 63, 252,1) 100%);
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.20rem;
    
    
    


}
.img {
border: 1px solid;
border-radius: 4px;
padding: 5px;
width: 200px;
height:70px;
margin-top: 20px;
}

body {
    background-color: pink
}

.navbar-logo {
    color: blue;
    justify-self: start;
    margin-left: 20px;
    cursor: pointer;

}
.fa-react {
    margin-left: 0.5rem;
    font-size: 1.6;

}
.nav-menu {
    display: grid;
    grid-template-columns: repeat(5, auto);
    grid-gap: 10px;
    list-style: none;
    text-align: center;
    width: 70vw;
    justify-content: end;
    margin-right: 2rem;
}
.nav-Links{
    color: white;
    text-decoration: none;
    padding: 0.5rem;
}
.nav-Links:hover {
    background-color: #6d76f7;
    border-radius: 4px;
    transition: all 0.2s ease-out;

}
.fa-bars {
    color: #fff;
}

.nav-Links-mobile {
    display: none;
}

.menu-icon {
    display: none;
}
@media screen and (max-width: 960px) {
    .NavbarItems {
        position: relative;
    }

    .nav-menu {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 500px;
        position: absolute;
        top: 80px;
        left: -100%;
        opacity: 1;
        transition: all 0.5s ease;
    }

    .nav-menu.active {
        background: #6668f4;
        left: 0;
        opacity: 1;
        transition: all 0.5s ease;
        z-index: 1;

    }
    .nav-Links {
        text-align: center;
        padding: 2rem;
        width: 100%;
        display: table;
    }
    .nav-Links:hover {
        background-color: #7577fa;
        border-radius: 0;
    }
    .navbar-logo {
        position: absolute;
        top: 0;
        left: 0;
        transform: translate(25%, 50%);
        
    }
    .menu-icon {
        display: block;
        position: absolute;
        top: 0;
        right: 0;
        transform: translate(-100%, 60%);
        font-size: 1.8rem;
        cursor: pointer;

    }
    .fa-times {
        color: #fff;
        font-size: 2rem;
    }
    .nav-Links-mobile {
        display: block;
        text-align: center;
        padding: 1.5rem;
        margin: 2rem auto;
        border-radius: 4px;
        width: 80px;
        background: #4ad9e4;
        text-decoration: none;
        color:#fff;
        font-size: 1.5rem;
    }
    .nav-Links-mobile:hover {
        background: #ffff;
        color:#6568F4;
        transition: 250ms;
    }
    Button {
        display: none;
    }
}